body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.outer-wrap{
    min-height: 104vh;
    background-color: beige;
}

h4{
    color:'pink'
}

